* {
	font-family: 'Roboto';
}
.container {
	margin-top: 1rem;
	box-sizing: border-box;
	color: grey;
}
.post {
	margin: 1rem 0;
	padding: 0.75rem 1rem;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0px 0px 10px 1px rgba(145, 70, 255, 0.15);
}
.postContent {
	color: #222;
}
.postAuthor {
	font-size: 0.8rem;
	display: flex;
	gap: 0.2rem;
	align-items: center;
	margin-bottom: 0.5rem;
	color: #222;
	font-weight: 600;
}
.post .authorAvatar {
	width: 1rem;
	height: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #313131;
}
.post .authorAvatar svg {
	width: 1em;
}
.postComment {
	margin-top: 0.5rem;
	color: #222;
	height: fit-content;
	display: flex;
	align-items: center;
}
.postComment svg {
	height: 1rem;
}
