.container {
	width: 100%;
	min-height: 100vh;
	background-color: beige;
}
.view {
	height: auto;
	display: flex;
	flex-direction: row;
	margin: 1rem;
	gap: 1rem;
}
.view > div {
	flex: 1;
	border: 1px solid black;
	padding: 0.5rem 1.5rem;
	border-radius: 4px;
}
.view .contentSpace {
	flex: 3;
}
.contentSpace form {
	width: 100%;
}
.contentSpace div {
	width: 100%;
	border-radius: 4px;
}
.contentSpace textarea {
	padding: 0.5rem;
	font-size: 1.1rem;
	width: 100%;
	box-sizing: border-box;
	border-radius: 4px;
}
